h1, h2 {
    font-weight: 700;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.8rem;
    margin-top: 2.75rem;
}

kbd {
    font-size: 75%;
}

.article-container {
    max-width: 960px;
}

.docs-article-container {
    max-width: 960px;
}

.docs-sidebar .nav > li {
    line-height: 1.2;
}

#hero img {
    max-width: 100%;
}

.hero-title {
    line-height: 1.2;
    font-weight: 700;
}

.icon-list {
    list-style: none;
	color: black;
    text-indent: -0.7rem;
    padding-left: 1.4rem;
}

.due-date {
    margin-bottom: 2.5rem;
}

footer {
    margin-top: 2rem;
}

footer p {
    text-align: left;
    font-size: 85%;
}

.course-info {
    font-size: 0.9rem;
}

.credits {
    font-size: 0.7rem;
}

.course-info p, .credits p {
    margin-bottom: 0.3rem;
}

.centered-table table {
    margin: 0 auto 1rem;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
  }

th {
  background-color: #283e52;
  color: white;
}

.article-style #TOC:before {
    content: "Contents";
    font-size: 1.1rem;
    font-weight: 700;
    display: block;
    background-color: #ddd;
    padding: 5px 10px 0px;
    margin-bottom: 1.1rem;
}

.article-style #TOC {
    font-family: "Overpass", sans-serif;
    font-size: 0.8rem;
    text-align: left;
    background: #f2f2f2;
    padding: 8px 8px;
    margin: 4px 0 2rem;
}

.article-style #TOC ul {
    padding-left: 2em;
}

.footnotes {
    font-size: 0.8rem;
    line-height: 1.3;
}


.fake-header-table {
    font-size: 1.1rem;
}

td.mid-table-header {
    text-align: center;
    vertical-align: middle !important;
}

.article-style .slide-thumb {
    margin-top: 0;
}

div.warning:before {
    content: "\f071";
    left: 14px;
}

.img-inline {
    display: inline-block;
    height: auto;
    max-width: 100%;
    margin: 0 !important;
}

/* Space after plotly widgets */
.widgetframe {
    margin-bottom: 2em;
}

table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
