<div class="row">
    <div class="col-md-5">
        <h3>Professor</h3>

        <ul class="icon-list">
            <li><i class="fas fa-user"></i> <a href="cwimpy.com" target="_blank" rel="noopener">&nbsp;Cameron Wimpy</a></li>
            <li><i class="fas fa-university"></i>&nbsp;HSS 3022</li>
            <li><i class="fas fa-envelope"></i> <a href="mailto:cwimpy@astate.edu">&nbsp;cwimpy@astate.edu</a></li>
            <li><i class="fab fa-twitter"></i> <a href="https://twitter.com/camwimpy" target="_blank" rel="noopener">&nbsp;@camwimpy</a></li>
            <li><i class="fas fa-calendar-check"></i> <a href="https://calendly.com/cwimpy/meeting-with-dr-wimpy" target="_blank">&nbsp;Make an appointment</a></li>
        </ul>
    </div>

    <div class="col-md-5">
        <h3>Course details</h3>

        <ul class="icon-list">
            <li><i class="far fa-calendar"></i>&nbsp;Tuesdays</li>
            <li><i class="far fa-calendar-alt"></i>&nbsp;Fall 2020</li>
            <li><i class="far fa-clock"></i>&nbsp;1–3:50 p.m.</li>
            <li><i class="fas fa-university"></i><a href="https://tour.astate.edu/#ctdl-UMAP_2019091977876,BLD_2019120901033">&nbsp;HSS 3035</a>.</li>
            <li><i class="fab fa-slack"></i> <a href="posc-6013.slack.com">&nbsp;Slack</a></li>
        </ul>
    </div>
</div>
